[tool.poetry]
name = "zndraw"
version = "0.4.0a3"
description = "Display and Edit Molecular Structures and Trajectories in the Browser."
authors = ["zincwarecode <zincwarecode@gmail.com>"]
license = "License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)"
readme = "README.md"
include = ["zndraw/static/node_modules/**/*"]

[tool.poetry.dependencies]
python = "^3.10"
ase = "^3"
typer = {extras = ["all"], version = "^0"}
flask = "^2"
tqdm = "^4"
znh5md = "^0"
flask-socketio = "^5"
eventlet = "^0"
networkx = "^3"
pydantic = "^2"
python-socketio = {extras = ["client"], version = "^5"}
plotly = "^5"
pandas = "^2"
datamodel-code-generator = "^0.25"
mdanalysis = {version = "^2", optional = true}
tidynamics = {version = "^1", optional = true}
rdkit2ase = {version = "^0.1", optional = true}
znframe = "^0.1"
decorator = "^5"
celery = "^5"
sqlalchemy = "^2"
psycopg2-binary = "^2"
redis = "^5"
splines = "^0.3"
znsocket = "^0.1.3"


[tool.poetry.group.dev.dependencies]
pre-commit = "^3"
pytest = "^7"
coverage = "^7"
selenium = "^4"
webdriver-manager = "^4"
ruff = "^0.1"


[tool.poetry.extras]
all = ["mdanalysis", "tidynamics", "rdkit2ase"]
rdkit = ["rdkit2ase"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
zndraw = 'zndraw.cli:cli'


[tool.poetry.urls]
repository = "https://github.com/zincware/ZnDraw"

[tool.ruff]
line-length = 90

select = ["I", "F"]

# by default do not run pytest marked with "chrome"
[tool.pytest.ini_options]
addopts = "-m 'not chrome'"

[tool.codespell]
skip = "poetry.lock"
