[tool.poetry]
name = "zndraw"
version = "0.2.0a7"
description = ""
authors = ["zincwarecode <zincwarecode@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
include = ["zndraw/static/node_modules/**/*"]

[tool.poetry.dependencies]
python = "^3.9"
ase = "^3.22.1"
typer = {extras = ["all"], version = "^0.7.0"}
flask = "^2.2.3"
tqdm = "^4.65.0"
znh5md = "^0.1.6"
flask-socketio = "^5.3.4"
dask = {extras = ["dataframe", "distributed"], version = "^2023.8.0"}
eventlet = "^0.33.3"
networkx = "^3.1"
pydantic = "^2.2.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
zndraw = 'zndraw.cli:cli'

[tool.poetry.extras]
webview = ["pywebview"]

[tool.poetry.urls]
repository = "https://github.com/zincware/ZnDraw"

[tool.ruff]
line-length = 90

select = ["I"]
