[project]
name = "zndraw"
version = "0.1.0"
description = "ZnDraw communication testing with physical-to-logical frame mapping"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "celery>=5.5.3",
    "eventlet>=0.40.3",
    "flask>=3.1.2",
    "flask-socketio>=5.5.1",
    "msgpack>=1.1.1",
    "python-socketio[client]>=5.13.0",
    "redis>=6.4.0",
    "tqdm>=4.67.1",
    "typer>=0.19.2",
    "zarr>=3.1.3",
    "znh5md>=0.4.8",
]

[dependency-groups]
dev = [
    "ipykernel>=6.30.1",
    "pytest>=8.4.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/zndraw"]

[project.scripts]
zndraw-server = "zndraw.cli:app"

[project.optional-dependencies]
test = [
    "pytest>=8.4.2",
]
