[tool.poetry]
name = "zndraw"
version = "0.5.4a1"
description = "Display and Edit Molecular Structures and Trajectories in the Browser."
authors = ["zincwarecode <zincwarecode@gmail.com>"]
license = "License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)"
readme = "README.md"
include = ["zndraw/templates/**/*", "zndraw_app/**/*"]

[tool.poetry.dependencies]
python = "^3.10"
ase = "^3"
typer = {extras = ["all"], version = "^0"}
flask = "^2"
tqdm = "^4"
flask-socketio = "^5"
networkx = "^3"
pydantic = "^2"
python-socketio = {extras = ["client"], version = "^5.11"}
plotly = "^5"
pandas = "^2"
celery = "^5"
sqlalchemy = "^2"
redis = "^5"
splines = "^0.3"
znsocket = "^0.2.7"
znjson = "^0.2.4"


[tool.poetry.group.dev.dependencies]
eventlet = "^0"
pre-commit = "^3"
pytest = "^7"
coverage = "^7"
ruff = "^0.1"
ipykernel = "^6.29.4"
mdanalysis = {version = "^2"}
tidynamics = {version = "^1"}
rdkit2ase = {version = "^0.1"}
zntrack = {version = "^0.7.3"}
znh5md = {version = "^0.3"}



[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
zndraw = 'zndraw_app.cli:cli'


[tool.poetry.urls]
repository = "https://github.com/zincware/ZnDraw"

[tool.ruff]
line-length = 90

[tool.ruff.lint]
select = ["I", "F"]

# by default do not run pytest marked with "chrome"
[tool.pytest.ini_options]
addopts = "-m 'not chrome'"

[tool.codespell]
skip = "poetry.lock"
