#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.frame-progress-bar .progress-bar {
  transition: none;
}

.blur-bg-90 {
  opacity: 0.95 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.custom-modal .modal-dialog {
  max-width: 100%;
}

.custom-modal .modal-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.custom-modal .modal-body-custom {
  flex: 1;
  padding: 0;
  display: flex;
}

.custom-modal .iframe-custom {
  width: 100%;
  height: 100%;
  border: none;
}
:root {
  --handle-size: 12px; /* Base size for the handle */
  --handle-color: rgb(48, 75, 183); /* Color of the handle */
}

.square {
  width: var(--handle-size);
  height: var(--handle-size);
  background-color: var(--handle-color); /* Color of the square */
  border-left: calc(var(--handle-size) / 2) solid transparent;
  border-right: calc(var(--handle-size) / 2) solid transparent;
}

.triangle {
  width: 0;
  height: 0;
  border-left: calc(var(--handle-size) / 2) solid transparent;
  border-right: calc(var(--handle-size) / 2) solid transparent;
  border-top: calc(var(--handle-size) / 2) solid var(--handle-color); /* Color of the triangle */
}

.handle {
  position: absolute;
  top: -15px; /* Adjust this value based on your design */
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* z-index: 2; */
}

.progress-bar-v-line {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 2px; /* Thickness of the line */
  height: 100%; /* Full height of the column */
  background-color: var(--handle-color); /* Color of the line */
  /* z-index: 1; */
}

.progress-bar-tick-line {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-100%);
  width: 1px; /* Thickness of the line */
  height: 14%; /* Size of the tick */
  /* z-index: 1; */
}

.progress-bar-bookmark {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
  transform: translateX(-50%) translateY(100%);
}