<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ZnDraw</title>
  </head>

  <body>
    Hello World

    <div class="slidecontainer">
      <input
        type="range"
        min="1"
        max="100"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      class Atoms {
        constructor(positions, cell, atomic_numbers) {
          this.positions = positions;
          this.cell = cell;
          this.atomic_numbers = atomic_numbers;
        }
      }

      var socket = io();
      socket.on("connect", function () {
        socket.emit("connection", { data: "I'm connected!" });
      });
      socket.on("configuration:id", (data) => {
        // data is a list, iterate over it
        // const atomsArray = data.map(config => {
        //     return new Atoms(config.positions, config.cell, config.atomic_numbers);
        // });

        Object.keys(data).forEach((key) => {
          data[key] = new Atoms(
            data[key].positions,
            data[key].cell,
            data[key].atomic_numbers
          );
        });

        console.log(data);
        // // construct an Atoms class from the data dictionary
        // 
        // 
      });

      var slider = document.getElementById("myRange");
      slider.oninput = function () {
        socket.emit("configuration:id", { id: this.value });
      };
    </script>
  </body>
</html>
