<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My first three.js appZnDraw</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favion-192x192.png') }}">
  <script type="importmap">
      {
        "imports": {
          "three": "{{ url_for('static', filename='/node_modules/three/build/three.module.js') }}",
          "three/": "{{ url_for('static', filename='/node_modules/three/') }}"
        }
      }
    </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>

<body>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
  <div id="scene-container">
    <!-- Our <canvas> will be inserted here -->
  </div>
</body>

</html>