<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My first three.js app</title>
  <script type="importmap">
      {
        "imports": {
          "three": "{{ url_for('static', filename='/node_modules/three/build/three.module.js') }}",
          "three/": "{{ url_for('static', filename='/node_modules/three/') }}"
        }
      }
    </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
  <div id="scene-container">
    <!-- Our <canvas> will be inserted here -->
  </div>
</body>

</html>