<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  {% if upgrade_insecure_requests %}
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  {% endif %}
  <title>ZnDraw</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favion-192x192.png') }}" />
  <script type="importmap">
      {
        "imports": {
          "three": "{{ url_for('static', filename='/node_modules/three/build/three.module.min.js') }}",
          "three/": "{{ url_for('static', filename='/node_modules/three/') }}"
        }
      }
    </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
</head>

<body>
  <script src="{{ url_for('static', filename='node_modules/@json-editor/json-editor/dist/jsoneditor.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/plotly.js-dist-min/plotly.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/marked/marked.min.js') }}"></script>

  <script defer
    src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/brands.min.js') }}"></script>
  <script defer
    src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/solid.min.js') }}"></script>
  <script defer
    src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/regular.min.js') }}"></script>
  <script defer
    src="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js') }}"></script>

  <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>

  <noscript>
    <div class="alert alert-danger" role="alert" id="js-blocker-warning">
      <h4 class="alert-heading">Please enable JavaScript to use ZnDraw.</h4>
    </div>
  </noscript>

  <div id="scene-container"></div>

  <!-- Loading Spinner -->
  <div class="atom-spinner" , id="atom-spinner">
    <div class="spinner-inner">
      <div class="spinner-line"></div>
      <div class="spinner-line"></div>
      <div class="spinner-line"></div>
      <!--Chrome renders little circles malformed :(-->
      <div class="spinner-circle">&#9679;</div>
    </div>
  </div>
  <!-- <div id="greyOut"></div> -->

  <!-- Navigation -->

  <nav class="navbar navbar-expand-md fixed-top bg-light main-navbar">
    <div class="container-fluid">
      <div class="navbar-brand" href="#">ZnDraw</div>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="drawingSwitch" autocomplete="off">
              <label class="btn btn-outline-primary" for="drawingSwitch">Draw <i class="fa-solid fa-pencil"></i></label>
            </div>
          </li>
          <li class="nav-item mx-1">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#tutorialModal">Tutorial <i class="fa-solid fa-film"></i></button>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        {# Some Center Text #}
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-1">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="ZnDrawConsoleSwitch" autocomplete="off"
                data-bs-toggle="collapse" data-bs-target="#ZnDrawConsole" aria-controls="ZnDrawConsole"
                aria-expanded="false">
              <label class="btn btn-outline-primary" for="ZnDrawConsoleSwitch"><i
                  class="fa-solid fa-terminal"></i></i></label>
            </div>
          </li>
          <li class="nav-item mx-1">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#codeModal">
              <i class="fa-solid fa-code"></i>
            </button>
          </li>
          <li class="nav-item  mx-1">
            <button type="button" class="btn btn-outline-primary" id="downloadBtn">
              <i class="fas fa-download"></i> Download
            </button>
          </li>
          <li class="nav-item mx-1">
            <form id="uploadForm" method="post" enctype="multipart/form-data">
              <input type="file" name="file" id="fileInput" style="display: none" />
              <input type="submit" value="Upload" id="uploadBtn" style="display: none" />
              <label class="btn btn-outline-primary " for="fileInput"><i class="fas fa-upload"></i> Upload</label>
            </form>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#helpModal">
              <i class="fa-solid fa-circle-info"></i>
            </button>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-outline-info " href="/" role="button"><i class="fa-solid fa-rotate-right"></i>
              Reload</a>
          </li>
          <li class="nav-item mx-1">
            <button class="btn btn-outline-danger" id="ExitBtn">
              <i class="fa-solid fa-circle-xmark"></i> EXIT
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="fixed-left-container">
    <!-- Content for the fixed left container -->
    <div class="card h-100 rounded-0">
      <div class="card-body">
        <div class="col">
          <div class="row py-1">
            <button class="btn btn-light" type="button" id="selectionMenuBtn" data-placement="right"
              data-bs-container="body" data-bs-content="Selection" data-target="selectionMenu">
              <i class="fa-regular fa-hand-pointer"></i>
            </button>
          </div>
          <div class="row py-1">
            <button class="btn btn-light" type="button" id="interactionMenuBtn" data-placement="right"
              data-bs-container="body" data-bs-content="Interaction" data-target="interactionMenu">
              <i class="fa-solid fa-circle-nodes"></i>
            </button>
          </div>
          <div class="row py-1">
            <button class="btn btn-light" type="button" id="sceneMenuBtn" data-placement="right"
              data-bs-container="body" data-bs-content="Scene" data-target="sceneMenu">
              <i class="fas fa-cube"></i>
            </button>
          </div>
          <div class="row py-1">
            <button class="btn btn-light" type="button" id="drawMenuBtn" data-placement="right" data-bs-container="body"
              data-bs-content="Drawing" data-target="drawMenu">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
          <div class="row py-1">
            <button class="btn btn-light" type="button" id="analysisMenuBtn" data-placement="right"
              data-bs-container="body" data-bs-content="Analysis" data-target="analysisMenu">
              <i class="fas fa-chart-bar"></i>
            </button>
          </div>
          <div class="row py-1">
            <a href="https://github.com/zincware/ZnDraw" class="btn btn-light" role="button" target="”_blank”"><i
                class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-left-menu">
    <!-- Selection -->
    <div class="card h-100 rounded-0" id="selectionMenu" style="display: none">
      <div class="card-body">
        <div class="row">
          <div class="col"></div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" aria-label="Close" id="selectionMenuClose"></button>
          </div>
        </div>
        <div id="selection-json-editor"></div>
        <div class="row my-3">
          <div class="col">
            <button type="button" id="selection-json-editor-submit" class="btn btn-primary w-100">
              <i class="fa-solid fa-circle-check"></i> Apply
            </button>
          </div>
          <div class="col">
            <a class="btn btn-secondary w-100" role="button" id="downloadSelectedBtn"><i
                class="fa-solid fa-download"></i> Download</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Interaction -->
    <div class="card h-100 rounded-0" id="interactionMenu" style="display: none">
      <div class="card-body">
        <div class="row">
          <div class="col"></div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" aria-label="Close" id="interactionMenuClose"></button>
          </div>
        </div>
        <div id="interaction-json-editor"></div>
        <button type="button" id="interaction-json-editor-submit" class="btn btn-primary w-100">
          <i class="fa-solid fa-play"></i> Run Modifier
        </button>
      </div>
    </div>

    <!-- Scene -->
    <div class="card h-100 rounded-0" id="sceneMenu" style="display: none">
      <div class="card-body">
        <div class="row">
          <div class="col"></div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" aria-label="Close" id="sceneMenuClose"></button>
          </div>
        </div>
        <div id="scene-json-editor"></div>
      </div>
    </div>

    <!-- Draw -->
    <div class="card h-100 rounded-0" id="drawMenu" style="display: none">
      <div class="card-body">
        <div class="row">
          <div class="col"></div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" aria-label="Close" id="drawMenuClose"></button>
          </div>
        </div>
        <div id="draw-json-editor"></div>

        <div class="row my-3">
          <div class="col">
            <button type="button" class="btn btn-primary w-100" id="drawAddCanvas">
              <i class="fa-solid fa-plus"></i> Add
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-danger w-100" id="drawRemoveCanvas">
              <i class="fa-solid fa-trash"></i> Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Analyse -->
    <div class="card h-100 rounded-0" id="analysisMenu" style="display: none">
      <div class="card-body" style="width: 500px">
        <div class="row">
          <div class="col"></div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" aria-label="Close" id="analysisMenuClose"></button>
          </div>
        </div>
        <div id="analysis-json-editor"></div>
        <button type="button" id="analysis-json-editor-submit" class="btn btn-primary w-100">
          Analyse
        </button>
        <div id="analysisPlot"></div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="helpModalLabel">ZnDraw Help</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="helpModalBody">
        </div>
      </div>
    </div>
  </div>

  <!-- Tutorial -->

  <div class="modal fade" id="tutorialModal" tabindex="-1" aria-labelledby="tutorialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tutorialModalLabel">ZnDraw Tutorial</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="tutorialModalBody">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/tutorial01.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/tutorial01.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/img/tutorial01.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="codeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="codeModalLabel">
            ZnDraw Code Access
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Python Code</h3>
          <code id="python-code-block"> </code>
          <br />
          {% if token != "notoken" %}
          <h3>Share Link</h3>
          <code id="share-link-block"></code>
          <br />
          <a class="btn btn-primary" href="{{ url_for('main.token', token=token) }}" role="button"
            id="btnShareLink">Copy
            link to clipboard</a>
          {% endif %}
          <script>
            {% if token != "notoken" %}
            document.getElementById(
              "python-code-block",
            ).innerHTML = `from zndraw import ZnDraw <br>vis = ZnDraw(url="${window.location.href}", token="{{ token }}")`;
            // url but without trailing slash
            const url = window.location.href.replace(/\/$/, "");
            const target_href = "{{ url_for('main.token', token=token) }}";
            const full_url = url + target_href;

            document.getElementById("share-link-block").innerHTML = full_url;

            document.getElementById("btnShareLink").onclick = function (
              event,
            ) {
              event.preventDefault();
              navigator.clipboard.writeText(full_url);
            };
            {% else %}
            document.getElementById(
              "python-code-block",
            ).innerHTML = `from zndraw import ZnDraw <br>vis = ZnDraw(url="${window.location.href}")`;
            {% endif %}

          </script>
        </div>
      </div>
    </div>
  </div>


  <!-- Play / Pause Button -->
  <div id="playPauseCtrl">
    <div class="btn-group btn-group-lg" role="group" id="playPauseBtn">
      <button type="button" class="btn btn-outline-primary" id="backwardBtn">
        <i class="fa-solid fa-backward"></i>
      </button>
      <button type="button" class="btn btn-outline-primary" id="playBtn">
        <i class="fa-solid fa-play"></i>
      </button>
      <button type="button" class="btn btn-outline-primary" id="forwardBtn">
        <i class="fa-solid fa-forward"></i>
      </button>
    </div>
  </div>

  <!-- ZnDraw Console -->

  <div class="collapse" id="ZnDrawConsole" style="transition: 0s;">
    <div class="card" id="ZnDrawConsoleCard">
      <div class="card-header">
        <div class="row">
          <div class="col">Console</div>
          <div class="col col-md-auto">
            <button type="button" class="btn-close" id="ZnDrawConsoleExitBtn"
              onclick="document.getElementById('ZnDrawConsoleSwitch').click();"></button>
          </div>
        </div>
      </div>
      <div class="card-body overflow-y-auto" id="ZnDrawConsoleBody">
      </div>
    </div>
  </div>


  <!-- Progress Bar -->
  <div id="info"></div>
  <input id="frame-slider" class="frame-slider" type="range" value="0" min="0" max="100" />

  <!-- Progress Bar Bookmarks -->
  <div id="bookmarks">
    {# <button type="button" class="btn btn-link"><i class="fa-regular fa-bookmark"></i></button> #}
  </div>

  <!-- Additional info bars -->
  <div class="alert alert-secondary" role="alert" id="alertBoxDrawing">
    <h4 class="alert-heading">Drawing Mode</h4>
    <p>You are moving the manifold: toggle with <code>keypress F</code>.</p>
  </div>

  <div class="alert alert-secondary" role="alert" id="alertBoxCamera">
    <h4 class="alert-heading">Camera Locked</h4>
    <p>
      The camera target is locked (camera pan is disabled): toggle with
      <code>keypress c</code>.
    </p>
  </div>
</body>

</html>
